<div class="overall">

	<div class="left">
		{foreach $articles as $article}
		<div class="xnews2">
			<div class="pic">
				<a target="_blank" href="20160920156274.html">
				{if condition="($article.pic == '')"}
					<img src="__STATIC__/index/images/error.png"  width="100%" />
				{else /}
					<img src="__ROOT__/uploads/{$article.pic}"  />
				{/if}
				
				
				
				</a>
			</div>
			<div class="dec">
				

				
				
				<h3><a target="_blank" href="20160920156274.html">{$article.title}</a></h3>
				<div class="time">发布时间：2016-09-20</div>
				<p>
					{$article.desc}
					
				</p>
				<div class="time">
					<?php 
						
						$akeywords=explode('，',$article['keywords']);	
						
						foreach( $akeywords as $key=>$val)
						{
							echo "<a href='z95926.html'>".$val."</a>";
						}
						
						
					?>
					
				</div>
				
			</div>
		</div>
		{/foreach}
		<div class="pages">
			<div class="plist">
				<ul>
					<li class="thisclass">1</li>
					<li>
						<a href='list_117_2.html'>2</a>
					</li>
					<li>
						<a href='list_117_3.html'>3</a>
					</li>
					<li>
						<a href='list_117_4.html'>4</a>
					</li>
					<li>
						<a href='list_117_5.html'>5</a>
					</li>
					<li>
						<a href='list_117_6.html'>6</a>
					</li>
					<li>
						<a href='list_117_7.html'>7</a>
					</li>
					<li>
						<a href='list_117_8.html'>8</a>
					</li>
					<li>
						<a href='list_117_9.html'>9</a>
					</li>
					<li>
						<a href='list_117_2.html'>下一页</a>
					</li>
					<li>
						<a href='list_117_1201.html'>末页</a>
					</li>
				</ul>
			</div>
		</div>
	</div>