<div class="position">
	<a href='/jiehun/'>主页</a> >
	<a href='./images/'>生活</a> > </div>

<div class="overall">
	<div class="left">
		<div class="scrap">
			<h1>{$data.title}</h1>
			<div class="spread">
				<span class="writor">时间:{$data.time|date="y-m-d",###}</span>
				<span class="writor">作者:{$data.author}</span>
				<span class="writor">标签：
                        <?php 
						
						$akeywords=explode('，',$data['keywords']);	
						
						foreach( $akeywords as $key=>$val)
						{
							echo "<a href='z95926.html'>".$val."</a>";
						}
						
						
					?>
                        </span>
				<span class="writor">热度：{$data.click}</span>
			</div>
		</div>

		<!--百度分享-->
		<script src='/jiehun/goto/my-65542.js' language='javascript'></script>

		<div class="takeaway">
			<span class="btn arr-left"></span>
			<p class="jjxq">
				{$data.desc}
				<span class="btn arr-right"></span>
		</div>

		<script src='/jiehun/goto/my-65541.js' language='javascript'></script>

		<div class="substance">
			{$data.content}
		</div>

		<div class="biaoqian">

		</div>

		<!--相关阅读 -->
		<div class="xgread">
			<div class="til">
				<h4>相关阅读</h4></div>
			<div class="lef">
				<!--相关阅读主题链接-->
				<script src='/jiehun/goto/my-65540.js' language='javascript'></script>
			</div>
			<div class="rig">
				<ul>
					{foreach $ralateres as $ralatere}
					<li>
						<a href="{:url('index/article/index',array('aid' =>$ralatere.id))}" target="_blank">{$ralatere.title}</a>
					</li>
					{/foreach}
				</ul>
			</div>
		</div>

		<!--频道推荐-->
		<div class="hotsnew">
			<div class="til">
				<h4>频道推荐</h4></div>
			<ul>
				{foreach $catesid as $cateid}
				<li>
					<div class="tu">
						<a href="{:url('index/article/index',array('aid'=>$cateid.id))}" target="_blank">
						{if condition="($cateid.pic == '')"}
							<img src="__STATIC__/index/images/error.png"  width="100%" />
						{else /}
							<img src="__ROOT__/uploads/{$cateid.pic}"  />
						{/if}
						</a>
					</div>
					<p>
						<a href="{:url('index/article/index',array('aid'=>$cateid.id))}" target="_blank">{$cateid.title}</a>
					</p>
				</li>
				{/foreach}
			</ul>
		</div>
	</div>