<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>童老师ThinkPHP交流群：484519446</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="童老师ThinkPHP交流群：484519446" />
<meta name="description" content="童老师ThinkPHP交流群：484519446" /> 
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<link href="__STATIC__/index/style/lady.css" type="text/css" rel="stylesheet" />
<script type='text/javascript' src='__STATIC__/index/style/ismobile.js'></script>
</head>

<body>
		<!-- 引入文件头部 -->
       {include file="common/header"}
<!--顶部通栏-->




{__CONTENT__}
<!-- 引入侧边懒 -->
{include file="common/right"}
<!-- 引入底部 -->
{include file="common/footer"}

<div style="display:none;"><script src='goto/my-65537.js' language='javascript'></script><script src="images/js/count_zixun.js" language="JavaScript"></script></div>

</body>
</html>