

        <div class="ladytop">
            <div class="nav">
                <div class="left"><a href=""><img src="__STATIC__/index/images/hunshang.png" alt="wed114婚尚"></a></div>
                <div class="right">
                <div class="box">
                 
                {foreach $catesheader as $cateheader}
                 <a href="hunjia/"  rel='dropmenu209'>{$cateheader.catename}</a> 
                 {/foreach}
                </div>
                </div>
                
                
            </div>
        </div>

<div class="hotmenu">
	<div class="con">热门标签：
	{foreach $tagsheader as $tagheader}	
		
	<a href='qiwenqushi/'>{$tagheader.tagname}</a> 
	{/foreach}
</div>

